/* COMMON */
.item-thumbnail-left .item-thumbnail-img { position:absolute; top:10px; left:10px; max-width:80px; max-height:80px; width:100%; height:100%; }
.angular-with-newlines { white-space:pre-wrap !important; }
.scroll-bar-indicator { display:none; }
.text-center { text-align: center; }
.center { margin-left: auto; margin-right: auto; display: block; }
.clear { clear: both; width: 0px; height: 0px; background-color: transparent; }
.button { white-space:nowrap; overflow:hidden; }
.popup {
	.popup-head { border-bottom:1px solid #CCC !important; }
	.popup-buttons {
		button.button {
			&.button-positive {
				border-color: $calm;
				background-color: $calm;
				color: $light;
			}
			&.button-default {
				border-color: #E6E5E1;
				color: $black;
				background-color: #E6E5E1;
			}
		}
	}
}
.bg-assertive { background-color: $assertive; }
.bg-energized { background-color: $energized; }
.bg-balanced { background-color: $balanced; }

input:disabled + .checkbox-icon:before { border-color: silver !important; }
input:disabled:checked + .checkbox-icon:before { background-color: silver !important; }

div.list.card {
	.item-body { border: none; }
	.item.tabs { background-image: none; border: none; }
}

a.button, button.button, ion-button.button {
	&.button-calm {
		border-color: $calm;
		background-color: $calm;
		color: $light;
	}
	&.button-assertive {
		border-color: $assertive;
	}
	&.button-energized {
		border-color: $energized;
	}
	&.button-balanced {
		border-color: $balanced;
		&.button-full { border-width: 1px; }
	}	
}
    
/* HEADER BAR */
.bar {
	&.bar-calm { background-color: $calm; color: $dark; border-color: $calm; }
	.title { text-align:center; font-weight:bold; }	
}
.back-button.header-item { color: $light; }

/* SPINNER */
.scroll-refresher { 
	height: 44px; 
	
	.icon-pulling > i { font-size: 22px !important; }
	.text-pulling { font-size: 14px !important; line-height: 12px !important; }
}

/* MENU */
.menu {
	background-color: $dark;
	color: $light;
	
	.fa { font-size:24px; }
	.item { 
		background-color: $light; 
		color: $dark;
		& > a.item-content {
			background-color: $light; 
			color: $black;
		}
	}
	.bar.bar-energized { border:0px solid $calm; background-image:none; }
	.toggle input:checked + .track { 
		background-color: #F5F5F5; 
		border-color: #EEE;
		
		.handle { background-color: $calm; }
	}
	.toggle { 
		.handle { background-color: #EEE; }
	}
}

/* LOGIN */
#login-logo { 
	display: block; width: 100%; margin: 50px auto; 
	img { display: block; margin: 0px auto; }
}

#login-form {  
	& > .row:first-child { margin-bottom: 5px; }
	.icon { padding-right: 10px; font-size: 24px; }
	.button { margin-top:30px; }
	.has-errors { 
		border-left: 3px solid $assertive; 
		.icon { color: $assertive; }
	}
	.no-errors { 
		border-left: 3px solid #2ECC71; 
		.icon { color: #2ECC71; }
	}
	
	.toggle-remember { border:none; left:-15px; padding-left: 50px; }
}

/* TABS */
.tabs { background-color:transparent; }
.tabs-striped {
	.tab-item.tab-item-active, .tab-item.active, .tab-item.activated { border-color: #00B4EB !important; }	 
}  
.tab-item .badge.ng-animate.ng-leave { opacity: 0 !important; }
.tabs-secondary p img { display: block; margin: 0px auto 4px auto; }

/* CARD FIX */
div.card.no-margin {margin:0px !important; }
.scroll .list-notifiche.item {border:none !important; }

/* HOME */
.home-content { 
	width: 100%; margin-top: -1px; background-color: $light; 
	.image-cropper { position: relative; width: 160px; height: 160px; margin: 10px auto 0px auto; border-radius: 50%; border: 10px solid $energized; overflow: hidden; }
	.rounded { position: absolute; top: -5px; left: -35px; display: block; width: 210px; height: 160px; margin: 0px auto; background-position: center; background-repeat: no-repeat; background-size: cover; }
	.moustache { 
		display: block; margin: 0px auto 5px auto; 
		img { width: 200px; }
	}
	h3 { width: 100%; margin: 0px; color: #666; text-align: center; }
	p { width: 100%; margin: 5px 0px 20px 0px; color: #666; text-align: center; }
	.list-inset { margin-bottom: 0px !important; }
	.row-toggle { position: relative; padding: 0px; background-color: $energized; z-index: 10; }
	.item-toggle { text-align: left; color: $light; border: 1px solid $light; background-color: $energized; }
	.toggle input:checked + .track { 
		background-color: $light; border-color: $light; 
		.handle { background-color: $calm; }
	}
	
	#triangle-divider { position: absolute; top: -9px; left: 50%; width: 0px; height: 0px; margin-left: -10px; border-style: solid; border-width: 0px 10px 10px 10px; border-color: transparent transparent $energized transparent; }
}

/* INACTIVE */
.inactive-card div.inactive-detail-list {
	 padding-left: 0px; padding-right: 0px; border: none;
	 
	 div.inactive-detail-list-item { padding-top: 10px; padding-bottom: 10px; border: none }
}

/* CHATS LIST */
ion-list { 
	display: block; opacity: 1; transition: opacity .25s ease-in-out; 
	&.list-hide { opacity:0; }
}

.item-ovp-chat {
	.item-content { padding-right: 16px; }
	h2 { font-weight: 500; }
	.badge { top: auto; bottom: 16px; left: auto; right: 20px; }
	.item-note.item-to-read { color: $energized; }	
}

/* BUTTON BACK DETTAGLIO CHAT */
.bar.bar-header .button.button-white { color: $light; }
.item-ovp-chat-detail .item-note-left { float: left; }

.ovp-chat-footer{
	&.bar-footer { height:54px! important; }
	label { padding:5px 10px; }
	.item-input-wrapper { border-radius:0px; border-color: $light; background-color: $light; }
	.placeholder-icon:first-child { padding-right:0px; }
	.button { 
		width: 40px; height: 40px; border-radius: 50%; border-color: $energized;
		 
		.icon::before { font-size: 20px; line-height: 40px; }
	}
}

/* CONVALIDE */
.convalide-content {
	.card { margin-bottom:0px; }
	.row { background-color:#EEE; }
	.btn-list { 
		margin-top: 10px; margin-bottom: 10px; background-color: inherit;
		 
		.btn-right { float: right; }
	}
	
	.row h5 { margin-top:5px; margin-bottom:5px; color:#555; }
}

.convalide-detail { 
	margin-top: 0px; margin-bottom: 0px; 
	
	h1 { margin-top:0px; }
	.item-body p { margin-top: 0px; }
}

.convalide-content .item-delete .button.icon { color: #AAA; }

/* NOTIFICHE */
.notifiche-content .item-toRead {
	h2 { font-weight:700; }
	p { font-weight:700; }
} 

.notifica-element {
	.item-body { 
		margin-top: -1px; padding-top: 5px; border-top: 0px;
		 
		h4 { margin:0px; font-size:18px; }
	}
	
	.tabs { 
		margin-bottom: 10px !important; min-height: 60px;
	
		& > div { font-size: 14px !important; padding: 10px; }
	}
}

.notifica-title { 
	padding-top: 0px; padding-bottom: 0px;
	 
	h4 { margin:0px; }
}

.notifica-detail {
	.item-separator { display: block; margin: 10px 0px; border-top: 1px solid #DDD; }
	p.notifica-recensione-voto { display: inline;  }
}
 
.notifica-recensione-voto-icon { position: relative; display: inline-block; top: 2px; margin-left: 5px; font-size: 22px; }

/* NEWS */
.news-content{
	.card { margin-bottom:0px; }
	.item-thumbnail-img > img { max-width:80px; max-height:80px; width:100%; height:100%; }
}

/* NEWS DETAIL*/
.news-detail-content {
	.list.card { margin-bottom:0px; }
	.tab-item > .icon { height:24px; font-size:24px; }
	.item-body { 
		border-bottom: 0px;
		 
		p { margin-top:10px; }
	}
	
	.item.tabs { border-top: 0px; }
	p.tab-item { 
		font-size: 12px !important; 
		
		&.positive { color: #2980B9; }
	}
}

/* NEWS OPERATION*/
.news-operation-content {
	.news-form input.ng-invalid.ng-touched {
		&::-webkit-input-placeholder, &::-moz-placeholder { color: $dark; }
	}
	
	.item-input { 
		padding: 6px 16px 5px 16px;
		
		& > span { font-size: 15px; font-weight: 700; color: #333; }
	}
	
	label {
		p { padding: 4px 16px 4px 0px; line-height: 20px; }
		
		&.item-stacked-label input { padding:4px 0px; line-height:20px; }
	}
	
	div.item-input { border: 0px; }
	.row .col { 
		padding: 0px 5px; 
		
		button { margin: 0px; }
	}
	
	.image-loader-container { margin-top: 5px; }
}

.news-edit-content label.item-stacked-label textarea { padding:4px 0px; line-height:20px; }

#box-gallery-action { padding-bottom: 10px; border-bottom: 1px solid #DDD; }
#box-action { margin-top: 20px; margin-bottom: 20px; }

.news-content .item-thumbnail-left {
	.item-content { padding-top: 8px; padding-bottom: 0px; }
	.item-note { 
		float: left;
		
		i { font-size: 16px;  }
	}
}

.news-form textarea.ng-invalid.ng-touched {
	&::-webkit-input-placeholder, &::-moz-placeholder { color:#E74C3C; }
}

/* EVENTI */
.eventi-content {
	.card { margin-bottom: 0px; }
	.item-thumbnail-img > img { max-width: 80px; max-height: 80px; width: 100%; height: 100%; }
}

/* EVENTI DETAIL*/
.eventi-detail-content {
	.list.card { margin-bottom: 0px; }
	.tab-item > .icon { height: 24px; font-size: 24px; }
	.item-body { 
		border-bottom: 0px;
		 
		p { margin-top:10px; }
	}
	.item.tabs { border-top:0px none; }
	p.tab-item { 
		font-size: 12px !important; 
		&.positive { color: #2980B9; }
	}
} 

/* EVENTI OPERATION*/
.eventi-operation-content {
	.eventi-form input.ng-invalid.ng-touched {
		&::-webkit-input-placeholder, &::-moz-placeholder { color: $dark; }
	}
	.item-input { 
		padding: 6px 16px 5px 16px;
		
		& > span { font-size: 15px; font-weight: 700; color: #333; }
	}
	label {
		p { padding: 4px 16px 4px 0px; line-height: 20px; }
		&.item-stacked-label input { padding: 4px 0px; line-height: 20px; }
	}
	div.item-input { border: 0px; }
	.row .col { 
		padding: 0px 5px;
		
		button { margin: 0px; }
	}
	.image-loader-container { margin-top:5px; }
}

.eventi-edit-content label.item-stacked-label textarea { padding: 4px 0px; line-height: 20px; }
.eventi-form textarea.ng-invalid.ng-touched {
	&::-webkit-input-placeholder, &::-moz-placeholder { color: $dark; }
}

.eventi-content .item-thumbnail-left {
	.item-content { padding-top: 8px; padding-bottom: 0px; }
	.item-note { 
		float: left;
		 
		i { font-size:16px;  }
	}
}

/* PROMOZIONI LIST/DETAIL*/
.promozione-detail-content {
	.list.card { margin-bottom: 0px; }
	.tab-item > .icon { height: 24px; font-size: 24px; }
	.item-body { 
		border-bottom: 0px;
		 
		p { margin-top: 0px; }
	}
	.item.tabs { border-top:0px; }
	p.tab-item { 
		font-size: 12px !important; 
		&.positive { color: #2980B9; }
	}	
}

.promozione-operation-content .item-input > span.assertive { color: #E74C3C; }

/* PROMOZIONI OPERATION*/
.promozione-operation-content {
	.promozione-form {
		input.ng-invalid.ng-touched {
			&::-webkit-input-placeholder, &::-moz-placeholder { color: $dark; }
		}
		
		p.item-note.subdued.error { color: #E74C3C !important; }
	}
	
	.item-input { 
		padding: 6px 16px 5px 16px; 
	
		& > span { font-size: 15px; font-weight: 700; color: #333; }
	}
	label {
		p { padding: 4px 16px 4px 0px; line-height: 20px; }
		&.item-stacked-label input { padding:4px 0px; line-height:20px; }
	}
	div.item-input { border: 0px; }
	.row .col { 
		padding: 0px 5px; 
		button { margin: 0px; }
	}
}

.promozione-edit-content label.item-stacked-label textarea { padding:4px 0px; line-height:20px; }
#box-action { margin-top:20px; margin-bottom:20px; } 

.promozione-form textarea.ng-invalid.ng-touched {
	&::-webkit-input-placeholder, &::-moz-placeholder { color: $dark; }
}

/* COUPON */
.coupon-content {
	.card { margin-bottom:0px; }
	.item-thumbnail-img > img { max-width:80px; max-height:80px; width:100%; height:100%; }
}
.coupon-list { margin-top: 20px; }
.coupon-content {
	.list.card {
		div.approved { 
			background-color: #27AE60;
			 
			& > h2 { color: $light; }
		}
		
		div.item.pending { 
			background-color: #F39C12;
			 
			& > h2 { color: $light; }
		}
		
		div.item.rejected { 
			background-color: #E74C3C; 
			
			& > h2 { color: $light; }
		}
	}	
} 

/* COUPON DETAIL*/
.coupon-detail-content {
	.list.card { margin-bottom:0px; }
	.tab-item > .icon { height:24px; font-size:24px; }
	.item-body { 
		border-bottom: 0px; 
		p { margin-top: 10px; }
	}
	.item.tabs { border-top:0px; }
	p.tab-item { 
		font-size: 12px !important;
		
		&.positive { color: #2980B9; }
	}
} 

/* COUPON OPERATION*/
.coupon-operation-content {
	.coupon-wizard input.ng-invalid.ng-touched {
		&::-webkit-input-placeholder, &::-moz-placeholder { color: $dark; }
	}
	.list.card div.item p { white-space: normal; }
	
	.item-input { 
		padding: 6px 16px 5px 16px;
	
		& > span { font-size: 15px; font-weight: 700; color: #333; }
		& > input.input-error { border: solid 1px red; }
	}
	label {
		p { padding: 4px 16px 4px 0px; line-height: 20px; }
		
		&.item-stacked-label input { padding: 4px 0px; line-height: 20px; }
	}
	.toggle input:checked + .track { 
		background-color: #DEDEDE; border-color: #FFF; 
		
		.handle { background-color: $calm; }
	}
	.item.range { border: none; }
	div.item-input { border: 0px; }
	.row .col { 
		padding: 0px 5px; 
		
		button { margin: 0px; }
	}	
	.image-loader-container { margin-top: 5px; }
	.edit-coupon-image { float: left; margin: 5px 0; width: 100% !important; height: auto !important; }
	
}

#box-gallery-action { padding-bottom:10px; border-bottom:1px solid #DDD; }
#box-action { margin-top:20px; margin-bottom:20px; }

 
.coupon-content .item-thumbnail-left {
	.item-content { padding-top: 8px; padding-bottom: 0px; }
	.item-note { 
		float: left; 
		i { font-size:16px;  }
	}	
}

.coupon-edit-content label.item-stacked-label textarea { padding: 4px 0px; line-height: 20px; }
.coupon-wizard textarea.ng-invalid.ng-touched {
	&::-webkit-input-placeholder, &::-moz-placeholder { color: $dark; }
}

/* HELP */
.help-content div.list.card  {
	div.item-body { 
		padding-top: 0px; padding-bottom: 0px; 
		
		span.center { margin-top: 15px; margin-bottom: 55px; }	
	} 
	p.title-module { display: block; margin: 0px; width: 100%; height: 40px; position: absolute; left: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); line-height: 40px; font-size: 18px; color: $light; text-align: center; }
	div.item.item-text-wrap { text-align: center; }
	.tab-help { 
		justify-content: flex-end; 
		
		.tab-item { 
			font-size: 16px; 
			
			&.balanced { color: #27AE60; }
			&.assertive { color: #E74C3C; }
		}
	}
}

/* HELP DETAIL */
.help-detail {
	div.header-item { 
		height: 120px; 
		
		span.fa { margin-top: 20px; }
	}
	div.help-detail-list { 
		padding-left: 0px; padding-right: 0px; border: none; 
		
		div.help-detail-list-item { padding-top: 10px; padding-bottom: 10px; border: none }
	}
} 

/* RECENSIONI LIST */
.recensioni-list a.item-content {
	padding-left: 86px;
	div.item-thumbnail-img { 
		max-width: 54px; max-height: 54px; top: 20px; left: 20px; 
		
		& > img { border-radius: 50%; }
	}
	.item-note { 
		float: left; 
		
		i { font-size: 16px;  }
	}
}

/* RECENSIONI DETAIL */
.recensioni-detail {
	div.item-thumbnail-img { max-width: 54px; max-height: 54px; top: 20px; left: 20px; }
	.item-thumbnail-left { min-height: 90px; padding-top: 20px; padding-left: 86px; }
	div.commento { border-top:none !important; }
	.card {
		.item-thumbnail-left div.recensione-thumbnail > img { border-radius: 50%; }
		.recensione-risposta .item-note { float:left; }
	}
	.autore { margin-bottom:10px; }
	.dettaglio {
		.rating { display: inline-block; margin-right: 5px; }
		p { display: inline; }
	}
	.rating > div:first-child { margin-right: 15px; }
	.commento { padding-top: 0px; }
	#box-action { margin-top: 0px; margin-bottom: 20px; }
}
.item-thumbnail-left { min-height:90px; padding-top:20px; padding-left:86px;}

/* GALLERY */
.gallery-content {
	label.item-stacked-label input{ padding: 4px 0px; line-height: 20px; }
	img.gallery-image { margin-top: 5px; width: 100% !important; height: auto !important; }	
}

/* RIEPILOGO */
.riepilogo-content {
	.scroll-refresher { top: -44px; }
	.subheader-riepilogo { 
		position: relative; top: auto; height: auto; padding-top: 10px; padding-bottom: 10px; 
		.face-header { font-size: 7em; }
	}
	span.periodo-riepilogo { margin-bottom: -15px; }
	div.list.card div.item span.item-note-left.item-note { float: left; }
	a.item-content div.status-bar { 
		position: absolute; width: 100%; height: 4px; background-color: transparent; border-radius: 4px; bottom: 0px; left: 0px; right: 0px; 
		span.status-bar-percente { height: 4px; display: block; width: 0%; border-radius: 4px; position: relative; }
	}
} 

/* RIEPILOGO DETAIL */
.riepilogo-detail div.card {
	div.item-icon-left span.periodo-dettaglio { width: 100%; font-size: 12px; }
	div.item-body {
		span.face { font-size: 5em; text-align: center; }
		div.box-status-bar { 
			float: left; width: 100%; height: auto; 
			p {
				&.status-bar-percente { margin-top: 0px; margin-bottom: 5px; }
				&.status-bar-level { margin-top: 0px; margin-bottom: 10px; }
			}
			div.status-bar { 
				width: 100%; margin-bottom: 10px; background-color: rgba(221,221,221,0.8); height: 4px; 
				span.status-bar-progress { display: block; height: 4px; border-radius: 4px; }
			}
		}
	}
}

/* Professional */
.professional-content {
	hr { border-style: solid; border-color: #ddd; margin-bottom: 15px; margin-top: 0px; border-bottom: 0px; }
	.card { margin-bottom: 0px; }
	.item { 
		border-width: 0px; 
		&.professional-text { padding-bottom: 0px; }
	}
	.padding { padding-bottom: 1px; }
	div.professional-detail-list { 
		padding: 0px; border: none; 
		div.professional-detail-list-item { padding-top: 10px; padding-bottom: 10px; border: none }
	}
	p {
		&.professional-header-list { margin-top: 15px; }
		&.professional-text-footer { margin-bottom: 0px; width: 94%; margin-left: auto; margin-right: auto; text-align: center; }
	}
}

/* RUBRICA */
.rubrica-content {
	div.card { 
		margin-bottom: 0px;
		
		div.item > i.icon { 
			font-size: 84px; 
		} 
	}
	
}

.options-popover { 
	height: auto;
	
	.container { 
		position: relative; 
	}
}

.rubrica-list > div > p > span { display:block; }

.rubrica-popover {
	.container { 
		width: 100%; 
		height: 100%;
		
		.item {
			p.item-note { 
				float: left; 
			}
			
			div.item-thumbnail-img { 
				max-width: 54px; 
				max-height: 54px; 
				top: 20px; 
				left: 20px; 
				border-radius: 50%;
				
				& > img { 
					border-radius: 50%; 
				}
			}
		}
	}
}

@media only screen and (max-width:359px) {
	.button {
		.icon::before, &.icon::before, &.icon-left::before, &.icon-right::before { display: none; }
	}
	.button-chat-rispondi .icon::before, .back-button .icon::before .button-slide .icon::before, .button-slide.icon::before { display: inline-block !important; }
}
