
    <div class="card notifica-element">
        <div class="item item-icon-left item-text-wrap">
            <i class="icon fa fa-gavel fa-fw positive"></i>
            <h2>{{notifica.titolo}}</h2>
            <p>{{notifica.dettaglio}}</p>
        </div>
    </div>

    <div class="row notifica-title">
        <div class="col text-center">
            <h4 class="dark">Riepilogo Offerta Coupon</h4>
        </div>
    </div>

    <div class="card notifica-detail">
        <div class="item item-text-wrap">
            <p><strong>Titolo:</strong></p>
            <p ng-bind-html="notifica.titolo_coupon"></p>
            <div class="item-separator"></div>
            <p><strong>Sconto:</strong></p>
            <p ng-bind-html="notifica.sconto_coupon"></p>
            <div class="item-separator"></div>
            <p><strong>Descrizione:</strong></p>
            <p ng-bind-html="notifica.descrizione_coupon"></p>
            <div class="item-separator"></div>
            <p><strong>Data pubblicazione:</strong></p>
            <p>{{notifica.inizio_coupon}}</p>
            <div class="item-separator"></div>
            <p><strong>Data scadenza:</strong></p>
            <p>{{notifica.scadenza_coupon}}</p>
            <div class="item-separator"></div>
            <p><strong>Condizioni legali:</strong></p>
            <p ng-bind-html="notifica.condizioni_coupon"></p>
        </div>

    </div>