<ion-view view-title="Scrivi videos">
    <ion-content class="news-operation-content" afkl-image-container>
		{{uploadingLeng}}
    	<form name="$parent.newsForm" class="news-form">
    	    
			<label class="item item-input item-stacked-label">
	   			<span class="input-label">Titolo</span>
	   			<input type="text" ng-model="youtube.titolo" placeholder="Inserisci il titolo" required resettable>
			</label>

			 <label class="item item-input item-stacked-label">
				<span class="input-label">Descrizione</span>
				<textarea msd-elastic ng-model="youtube.descrizione" placeholder="Descrizione" required resettable></textarea>
		  </label>
			 
			<label class="item item-input item-stacked-label">
				<span class="input-label">Categoria</span>
				<input type="text" ng-model="youtube.categoria" placeholder="Categoria" required resettable>
			 </label>
			 
			<label class="item item-input item-stacked-label">
				<span class="input-label">Keyword</span>
				<input type="text" ng-model="youtube.keyword" placeholder="Keyword" required resettable>
			 </label>
			 
			 <label class="item item-input item-stacked-label">
				<span class="input-label">Privacy</span>
				<input type="text" ng-model="youtube.privacy" placeholder="Privacy" required resettable>
		 	</label>
			
			<!--<label class="item item-input item-stacked-label">
	   			<span class="input-label">Testo</span>
	   			<textarea msd-elastic ng-model="youtube.testo" placeholder="Inserisci il testo" required resettable></textarea>
	 		</label>-->
	 		
	 		<!-- <label ng-click="changeDate()" class="item item-input item-stacked-label">
	   			<span class="input-label">Inizio pubblicazione</span>
	   			<p>Il {{youtube.data_inizio_pubblicazione | date:"dd/MM/yyyy 'alle' HH:mm"}}</p>
	 		</label> -->
	 			
	 		<div class="item item-input item-stacked-label">
				  <span class="input-label">Video</span>
				  <div afkl-lazy-image="{{youtube.filename}}" class="afkl-lazy-wrapper image-loader-container" ng-if="defaultIcon"></div>
				  <div style="width: 100%;" class="afkl-lazy-wrapper image-loader-container" ng-if="!defaultIcon">
						<video ng-src="{{clipSrc}}" class="afkl-lazy-wrapper image-loader-container" controls="controls" 
							autoplay></video>
				  </div>
			</div>
	
			<div id="box-gallery-action" class="row">
	          		<div class="col col-33">
	              		<button class="button button-block button-calm icon-left ion-camera" ng-click="takeVideo()">Scatta</button>
	          		</div>
	          		<div class="col col-33">
	              		<button class="button button-block button-calm icon-left ion-image" ng-click="getVideoAlbum()">Gallery</button>
	          		</div>
	          		<div class="col col-33">
	              		<button class="button button-block button-calm icon-left ion-android-refresh" ng-click="removeVideo()">Default</button>
	          		</div>
	      		</div>
	       	</div>
			<!-- <div id="box-gallery-action" class="row">
					<div class="col col-33">
						<button class="button button-block button-calm icon-left ion-camera" ng-click="nowTimeToRock()">Dope</button>
					</div>
				</div>
			</div> -->
			<!-- <social-checkbox
                social-assign="social"
                controller-assign="news" >
            </social-checkbox>
			<notifiche-checkbox
                mode="create"
                notifiche-messaggi="notifiche.messaggi"
                status-checkbox="notifiche_checkbox"
                controller-assign="news" >
            </notifiche-checkbox> -->
	       	 
	       	<!-- <div id="box-action" class="row">
		        <div class="col col-50 col-offset-25">
		        	<input type="hidden" ng-model="news.data_inizio_pubblicazione" required resettable>
	   				<input type="hidden" ng-model="news.filename" required resettable>
	   				
		        	<button type="submit" class="button button-full button-balanced icon-left ion-android-checkmark-circle" ng-click="create(news)" ng-disabled="newsForm.$invalid || (newsForm.$dirty && newsForm.$invalid) || isEqual()">Salva</button>
		        </div>
		    </div> -->
		    
	    </form>
	    
				
	</ion-content>
</ion-view>