<div class="list">
    <label class="item item-radio">
        <input type="radio" ng-model="filter.value" value=1 />
        <div class="item-content">
           Email
        </div>
        <i class="radio-icon ion-checkmark calm"></i>
    </label>
    <label class="item item-radio">
        <input type="radio" ng-model="filter.value" value=2 />
        <div class="item-content">
            Numero
        </div>
        <i class="radio-icon ion-checkmark calm"></i>
    </label>
</div>